/Adder/target/
/WindowMaster/target/
/ABeginning/target/
/ProjectGutenberg/target/
/CommentingCode/target/
/AllTheMaths/target/
/InABucket/target/
/MoreBucketsMoreFun/target/
/TheOrderOfThings/target/
/BestAdderEver/target/
/AllAboutMe/target/
/MenuOfChampions/target/
/QuestForTheUserInput/target/
/DontForgetToStoreIt/target/
/BiggerBetterAdder/target/
/PassingTheTuringTest/target/
/AllTheTrivia/target/
/DoItBetter/target/
/HealthyHearts/target/
/MiniMadLibs/target/
/Lesson4IfStatement/target/
/Lesson4SwitchStatement/target/
/Lesson4FallingThroughSwitchStatement/target/
/Lesson5DebuggingWindowMaster/target/
/Lesson6WindowMasterRefactored/target/