/Adder/target/
/WindowMaster/target/
/ABeginning/target/
/ProjectGutenberg/target/
/CommentingCode/target/
/AllTheMaths/target/
/InABucket/target/
/MoreBucketsMoreFun/target/
/TheOrderOfThings/target/
/BestAdderEver/target/
/AllAboutMe/target/
/MenuOfChampions/target/
/QuestForTheUserInput/target/
/DontForgetToStoreIt/target/
/BiggerBetterAdder/target/
/PassingTheTuringTest/target/
/AllTheTrivia/target/
/DoItBetter/target/
/HealthyHearts/target/
/MiniMadLibs/target/
/Lesson4IfStatement/target/
/Lesson4SwitchStatement/target/
/Lesson4FallingThroughSwitchStatement/target/
/Lesson5DebuggingWindowMaster/target/
/Lesson6WindowMasterRefactored/target/
/LlamasWhalesAndDodosOhMy/target/
/GuessMe/target/
/SpaceRustlers/target/
/BirthStones/target/
/TriviaNight/target/
/FieldDay/target/
/ALittleChaos/target/
/FortuneCookie/target/
/HighRoller/target/
/CoinFlipper/target/
/GuessMeMore/target/
/WaitAWhile/target/
/StayPositive/target/
/RollerCoaster/target/
/DoOrDoNot/target/
/LovesMe/target/
/MaybeItLovesMe/target/
/GuessMeFinally/target/
/BewareTheKraken/target/
/LazyTeenager/target/
/ForAndTwentyBlackbirds/target/
/SpringForwardFallBack/target/
/ForTimes/target/
/ForTimesFor/target/
/TheCount/target/
/DifferentKettleOfFish/target/
/ForByFor/target/
/TraditionalFizzBuzz/target/
/Lesson7Arrays/target/