<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Imaginapainting</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Open Iconic CSS -->
  <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/main.css" rel="stylesheet">
  <!-- Dynamic Banner CSS -->
  <link href="css/dynamic-banner.css" rel="stylesheet">
  <!-- Home Page Art Cards CSS -->
  <link href="css/art-cards-most-popular.css" rel="stylesheet">
  <!-- CTA Section -->
  <link href="css/cta.css" rel="stylesheet">
  <!-- Navbar Scroll -->
  <link href="css/navbar-scroll.css" rel="stylesheet">
  <!-- Buyer Registration CSS -->
  <link href="css/buyer-registration.css" rel="stylesheet">
  <!-- Seller Registration CSS -->
  <link href="css/seller-registration.css" rel="stylesheet">
  <!-- Order Failed CSS -->
  <link href="css/order-failed.css" rel="stylesheet">
  <!-- Order Success CSS -->
  <link href="css/order-success.css" rel="stylesheet">
  <!-- Products Page CSS -->
  <link href="css/products-page.css" rel="stylesheet">
  <!-- Buyer Account Page CSS -->
  <link href="css/buyer-account.css" rel="stylesheet">
  <!-- Seller Account Page CSS -->
  <link href="css/seller-account.css" rel="stylesheet">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- HTML HERE -->
  <div class="container-fluid">
    <main>

      <!-- Navbar goes here -->
      <div id="navbar-background" class="row fixed-top">
        <div class="container">
          <div class="row navbar-row">
            <div class="col-12">
              <nav class="navbar navbar-expand-xl">
                <a class="navbar-brand" href="index">LOGO GOES HERE</a>
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item nav-item-padding">
                      <a class="nav-link" href="#">Join</a>
                    </li> -->
                    <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Join
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="buyer-registration">Buyer Registration</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="seller-registration">Seller Registration</a>
                      </div>
                    </li>
                    <li class="nav-item nav-item-padding">
                      <a class="nav-link" href="user-login"><span sec:authorize="!isAuthenticated()">Login</span><span
                          sec:authorize="isAuthenticated()">My Account</span></a>
                    </li>
                    <li class="nav-item nav-item-padding">
                      <a class="nav-link" href="products">Products</a>
                    </li>
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0 custom-dark-button" type="submit">Search</button>
                  </form> -->
                  <ul class="navbar-nav" sec:authorize="hasRole('BUYER')">
                    <li id="cart-icon-li" class="nav-item">
                      <a class="nav-link" href="cart">CART <span class="oi oi-cart"></span></a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Buyer Registration -->
      <div class="row">
        <div class="buyer-registration-page-container">
          <ul class="list-group" id="buyerRegistrationErrorMessages">
            <!-- dynamically generate any error messages -->
            <li class="list-group-item list-group-item-danger" th:if="${#request.getParameter('buyer-registration-error') == '1'}">Sorry, that username is taken.</li>
          </ul>
          <div class="buyer-registration-form-container-opacity"></div>
          <div class="buyer-registration-form-container">
            <form id="buyerRegistrationForm" role="form" method="POST" action="buyer-register">
              <h2>BUYER REGISTRATION</h2>
              <div class="form-group">
                <label for="buyerRegistrationFirstName">First Name</label>
                <input type="text" class="form-control" id="buyerRegistrationFirstName"
                  name="buyerRegistrationFirstName" placeholder="Enter first name" minlength="2" maxlength="256"
                  required>
              </div>
              <div class="form-group">
                <label for="buyerRegistrationLastName">Last Name</label>
                <input type="text" class="form-control" id="buyerRegistrationLastName" name="buyerRegistrationLastName"
                  placeholder="Enter last name" minlength="2" maxlength="256" required>
              </div>
              <div class="form-group">
                <label for="buyerRegistrationUsername">Email Address</label>
                <input type="email" class="form-control" id="buyerRegistrationUsername" name="buyerRegistrationUsername"
                  placeholder="Enter email" maxlength="256" required>
              </div>
              <div class="form-group">
                <label for="buyerRegistrationPassword">Password</label>
                <input type="password" class="form-control" id="buyerRegistrationPassword"
                  name="buyerRegistrationPassword" placeholder="Password"
                  pattern="^(?=.*[\w])(?=.*[\W])(?=.*[A-Z])(?=.*[0-9])[\w\W]{8,}$" maxlength="30" required>
              </div>

              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

              <button type="submit" id="buyerRegistrationButton"
                class="btn btn-outline-dark custom-dark-button">Submit</button>
              <p>Already have an account? <a href="user-login">Click here to login.</a></p>
            </form>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="row">
        <footer id="Footer">
          <div class="container">
            <!-- <div class="footer-links">
              <ul>
                <li><a href="#">BUY ART</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">SELL ART</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">JOIN</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">LOGIN</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">ABOUT</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">CART</a></li>
              </ul>
            </div> -->
            <div class="copyright-section">
              <p>
                COPYRIGHT &copy; 2019 DANIELVBART, LLC &nbsp; | &nbsp; CHARLOTTE, NC
              </p>
              <p>
                BY USING THIS SITE, YOU AGREE TO THE <a href="#" title="Privacy Policy">PRIVACY POLICY</a>.
              </p>
            </div>
          </div>
        </footer>
      </div>

    </main>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Buyer Registration Form Validation -->
  <script src="js/buyer-registration-form.js"></script>
  <!-- Navbar Scroll JS -->
  <script src="js/navbar-scroll.js"></script>

</body>

</html>