<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Imaginapainting</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Open Iconic CSS -->
  <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/main.css" rel="stylesheet">
  <!-- Dynamic Banner CSS -->
  <link href="css/dynamic-banner.css" rel="stylesheet">
  <!-- Home Page Art Cards CSS -->
  <link href="css/art-cards-most-popular.css" rel="stylesheet">
  <!-- CTA Section -->
  <link href="css/cta.css" rel="stylesheet">
  <!-- Navbar Scroll -->
  <link href="css/navbar-scroll.css" rel="stylesheet">
  <!-- Buyer Registration CSS -->
  <link href="css/buyer-registration.css" rel="stylesheet">
  <!-- Seller Registration CSS -->
  <link href="css/seller-registration.css" rel="stylesheet">
  <!-- Order Failed CSS -->
  <link href="css/order-failed.css" rel="stylesheet">
  <!-- Order Success CSS -->
  <link href="css/order-success.css" rel="stylesheet">
  <!-- Products Page CSS -->
  <link href="css/products-page.css" rel="stylesheet">
  <!-- Buyer Account Page CSS -->
  <link href="css/buyer-account.css" rel="stylesheet">
  <!-- Seller Account Page CSS -->
  <link href="css/seller-account.css" rel="stylesheet">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- HTML HERE -->
  <div class="container-fluid">
    <main>

      <!-- Navbar goes here -->
      <div id="navbar-background" class="row fixed-top">
        <div class="container">
          <div class="row navbar-row">
            <div class="col-12">
              <nav class="navbar navbar-expand-xl">
                <a class="navbar-brand" href="index">LOGO GOES HERE</a>
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item nav-item-padding">
                      <a class="nav-link" href="#">Join</a>
                    </li> -->
                    <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Join
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="buyer-registration">Buyer Registration</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="seller-registration">Seller Registration</a>
                      </div>
                    </li>
                    <li class="nav-item nav-item-padding">
                      <a class="nav-link" href="user-login"><span sec:authorize="!isAuthenticated()">Login</span><span sec:authorize="isAuthenticated()">My Account</span></a>
                    </li>
                    <li class="nav-item nav-item-padding">
                      <a class="nav-link" href="products">Products</a>
                    </li>
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0 custom-dark-button" type="submit">Search</button>
                  </form> -->
                  <ul class="navbar-nav" sec:authorize="hasRole('BUYER')">
                    <li id="cart-icon-li" class="nav-item">
                      <a class="nav-link" href="cart">CART <span class="oi oi-cart"></span></a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Dynamic Banner -->
      <div class="row">
        <div class="banner-container">
          <div class="banner-boxes-container">
            <div class="banner-background-1 opacity-on"></div>
            <div class="banner-background-2 opacity-on"></div>
            <div class="banner-background-3 opacity-on"></div>
            <div class="banner-background-4 opacity-on"></div>
            <div class="banner-background-5 opacity-on"></div>
            <div class="banner-background-6 opacity-on"></div>
            <div class="banner-background-7 opacity-on"></div>
            <div class="banner-background-8 opacity-on"></div>
            <div class="banner-background-9 opacity-on"></div>
            <div class="banner-background-10 opacity-on"></div>
            <div class="banner-background-11 opacity-on"></div>
            <div class="banner-background-12 opacity-on"></div>
            <div class="banner-background-13 opacity-on"></div>
            <div class="banner-background-14 opacity-on"></div>
            <div class="banner-background-15 opacity-on"></div>
            <div class="banner-background-16 opacity-on"></div>
            <div class="banner-background-17 opacity-on"></div>
            <div class="banner-background-18 opacity-on"></div>
            <div class="banner-background-19 opacity-on"></div>
            <div class="banner-background-20 opacity-on"></div>
            <div class="banner-background-21 opacity-on"></div>
            <div class="banner-background-22 opacity-on"></div>
            <div class="banner-background-23 opacity-on"></div>
            <div class="banner-background-24 opacity-on"></div>
            <div class="banner-background-25 opacity-on"></div>
            <div class="banner-background-26 opacity-on"></div>
            <div class="banner-background-27 opacity-on"></div>
            <div class="banner-background-28 opacity-on"></div>
            <div class="banner-background-29 opacity-on"></div>
            <div class="banner-background-30 opacity-on"></div>
            <div class="banner-background-31 opacity-on"></div>
            <div class="banner-background-32 opacity-on"></div>
            <div class="banner-background-33 opacity-on"></div>
            <div class="banner-background-34 opacity-on"></div>
            <div class="banner-background-35 opacity-on"></div>
            <div class="banner-background-36 opacity-on"></div>
          </div>
          <div class="banner-text-and-button">
            <h1>IMAGINAPAINTING</h1>
            <h2>Buy or Sell Your Art</h2>
            <p>From the artist's studio to your doorstep.</p>
            <!-- <div class="banner-button-container">
              <a class="banner-button" href="#">CONTACT ME</a>
            </div> -->
          </div>
        </div>
      </div>

      <!-- 12 cards 4x3 for product categories -->
      <div class="row">
        <div id="home-art-cards-container">
          <div class="container">
            <div class="row">
              <div class="home-art-cards-container">
                <h2 class="font-h2">MOST POPULAR ART CATEGORIES</h2>
                <div class="home-art-cards-row">
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/paintings.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">PAINTINGS</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/sculptures.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">SCULPTURES</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/ceramics.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">CERAMICS</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/photography.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">PHOTOGRAPHY</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                </div>
                <h2 class="font-h2">MOST POPULAR ART STYLES</h2>
                <div class="home-art-cards-row">
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/photorealism.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">PHOTOREALISM</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/fine-art.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">FINE ART</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/modern.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">MODERN</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/abstract.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">ABSTRACT</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                </div>
                <h2 class="font-h2">MOST POPULAR ART SUBJECTS</h2>
                <div class="home-art-cards-row">
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/landscapes.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">LANDSCAPES</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/portraits.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">PORTRAITS</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/cities.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">CITIES</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                  <div class="home-art-card">
                    <a href="products">
                      <img class="home-art-card-image" src="images/religious.jpg">
                      <div class="home-art-card-text">
                        <h2 class="font-h2">RELIGIOUS</h2>
                      </div>
                      <div class="home-art-card-opacity"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CTA Section -->
      <div class="row">
        <div id="contact-section-container" class="row">
          <div class="contact-section-left-outer-container">
            <div class="contact-section-left-inner-container">
              <h2 class="font-h2">JOIN OUR COMMUNITY OF INDEPENDENT ARTISTS.</h2>
              <p class="font-p">IMAGINE IT. PAINT IT. SELL IT.</p>
              <a class="btn btn-outline-dark custom-dark-button" href="seller-registration" role="button">JOIN
                NOW</a>
            </div>
          </div>
          <div class="contact-section-right-outer-container">
            <div class="contact-section-right-inner-container">
              <div class="other-content-cards-row">
                <div class="other-content-card">
                  <div class="other-content-card-inner">
                    <div class="other-content-card-content">
                      <div class="other-content-card-icon">
                        <span class="oi oi-bar-chart"></span>
                      </div>
                      <div class="other-content-text">
                        <h6>Attention to Detail</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="other-content-card">
                  <div class="other-content-card-inner">
                    <div class="other-content-card-content">
                      <div class="other-content-card-icon">
                        <span class="oi oi-bar-chart"></span>
                      </div>
                      <div class="other-content-text">
                        <h6>Creative Solutions</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="other-content-card">
                  <div class="other-content-card-inner">
                    <div class="other-content-card-content">
                      <div class="other-content-card-icon">
                        <span class="oi oi-bar-chart"></span>
                      </div>
                      <div class="other-content-text">
                        <h6>Fully-Responsive</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="row">
        <footer id="Footer">
          <div class="container">
            <!-- <div class="footer-links">
              <ul>
                <li><a href="#">BUY ART</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">SELL ART</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">JOIN</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">LOGIN</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">ABOUT</a></li>
                <span>&nbsp;|&nbsp;</span>
                <li><a href="#">CART</a></li>
              </ul>
            </div> -->
            <div class="copyright-section">
              <p>
                COPYRIGHT &copy; 2019 DANIELVBART, LLC &nbsp; | &nbsp; CHARLOTTE, NC
              </p>
              <p>
                BY USING THIS SITE, YOU AGREE TO THE <a href="#" title="Privacy Policy">PRIVACY POLICY</a>.
              </p>
            </div>
          </div>
        </footer>
      </div>

    </main>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Dynamic Banner JS -->
  <script src="js/dynamic-banner.js"></script>
  <!-- Navbar Scroll JS -->
  <script src="js/navbar-scroll.js"></script>

</body>

</html>