.admin-account-page-outer-container {
  /* FIX NAVBAR OVERLAP */
  margin-top: 86px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.admin-account-page-left-container {
  width: 250px;
  float: left;
  background-color: rgb(0, 83, 143);
  height: 100%;
}

.admin-account-page-inner-left-container {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  background-color: #ffffff;
}

.admin-account-page-inner-left-container button {
  width: 100%;
  margin: 5px 0px 5px 0px;
}

.admin-account-page-right-container {
  width: calc(100% - 250px);
  float: right;
  background-color: rgba(196, 196, 196, 0.377);
}

.admin-account-page-inner-right-container h2 {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

#adminPendingApprovalSection {
  padding: 0px 20px 0px 20px;
}

#adminPendingApprovalSectionDiv a, #adminAccountPageManageSellersSection a, #adminaAccountPageManageBuyersSection a {
  margin: 0px 2.5px 0px 2.5px;
}

.admin-account-page-pending-approval-page-selector-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 100%;
  margin: 20px 0px 20px 0px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  padding: 20px 20px 20px 20px;
}

.admin-account-page-pending-approval-page-selector-container a {
  color: inherit;
}

.admin-account-page-pending-approval-page-selector-container a:hover {
  color: #ffffff;
  text-decoration: none;
}

#adminAccountPagePendingApprovalPageSelectorUl {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.button-disabled {
  color: #888;
  border: none;
}

.button-disabled:hover {
  color: #888;
  border: none;
  background-color: none;
  cursor: default;
}

.button-disabled:hover a {
  color: #888;
  border: none;
  background-color: none;
}

#adminAccountPageManageUsersSection {
  padding: 0px 20px 0px 20px;
}

#adminAccountPageManageUsersSection h2 {
  width: 100%;
}

.admin-account-page-manage-users-page-selector-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 100%;
  margin: 0px 0px 20px 0px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  padding: 20px 20px 20px 20px;
}

.admin-account-page-manage-users-page-selector-container a {
  color: inherit;
}

.admin-account-page-manage-users-page-selector-container a:hover {
  color: #ffffff;
  text-decoration: none;
}

#adminAccountPageManageUsersPageSelectorUl {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#adminAccountPageAccountDetailsSection {
  padding: 0px 20px 20px 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
}

#adminAccountPageAccountDetailsSection h2 {
  text-align: center;
  width: 100%;
}

.admin-account-page-account-details-form-container {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  width: 100%;
  padding: 15px 15px 15px 15px;
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
}

#adminAccountPageInnerRightContainerErrorMessages {
  width: 100%;
}

#adminAccountPageAccountDetailsForm {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#adminAccountPageAccountDetailsForm>div {
  width: 50%;
  margin: 10px 0px 10px 0px;
}

#adminAccountPageAccountDetailsForm input {
  width: 300px;
}

#adminAccountPageAccountDetailsForm select {
  width: 300px;
}

#adminAccountPageAccountDetailsForm hr {
  width: 100%;
}

#adminAccountPageAccountDetailsForm button {
  margin: 0px 0px 0px 5px;
}

#adminAccountPageAccountDetailsEditPasswordButton {
  margin: 0px 0px 0px 0px !important;
}

#adminAccountPageAccountDetailsSaveButtonDiv, #adminAccountPageAccountDetailsDeleteAccountButtonDiv {
  text-align: center;
  width: 100% !important;
}

#adminAccountPageAccountDetailsEditPasswordModal {}

.readonly {
  background-color: #d1d1d1;
  pointer-events: none;
}

.readonly:focus {
  background-color: #d1d1d1;
}

.admin-account-page-pending-approval-right-inner-container-user {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  width: 100%;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.admin-account-page-pending-approval-right-inner-container-user h3 {
  margin: 0px 0px 10px 0px;
}

.admin-account-page-pending-approval-right-inner-container-user p {
  margin: 0px 0px 10px 0px;
}

.admin-account-page-pending-approval-right-inner-container-user a {
  color: inherit;
  text-decoration: none;
  margin: 10px 0px 0px 0px;
}

.admin-account-page-pending-approval-right-inner-container-user a:hover {
  color: #ffffff;
}

.admin-account-page-manage-users-right-inner-container-user {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  width: 100%;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.admin-account-page-manage-users-right-inner-container-user h3 {
  margin: 0px 0px 10px 0px;
}

.admin-account-page-manage-users-right-inner-container-user p {
  margin: 0px 0px 10px 0px;
}

.admin-account-page-manage-users-right-inner-container-user a {
  color: inherit;
  text-decoration: none;
  margin: 10px 0px 0px 0px;
}

.admin-account-page-manage-users-right-inner-container-user a:hover {
  color: #ffffff;
}

/* Media Queries ---------------------------------- */
@media screen and (max-width:1199px) {

  .admin-account-page-pending-approval-page-selector-container {
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 20px 20px;
  }

  #adminAccountPagePendingApprovalPageSelectorUl {
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    flex-wrap: wrap;
  }

  #adminAccountPagePendingApprovalPageSelectorUl li {
    margin: 10px 2px 0px 2px;
  }

  .admin-account-page-manage-users-page-selector-container {
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 20px 20px;
  }

  #adminAccountPageManageUsersPageSelectorUl {
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    flex-wrap: wrap;
  }

  #adminAccountPageManageUsersPageSelectorUl li {
    margin: 10px 2px 0px 2px;
  }

  #adminAccountPageAccountDetailsForm button {
    margin: 5px 0px 0px 0px;
  }

}

@media screen and (max-width:991px) {

  #adminAccountPageAccountDetailsForm>div {
    width: 100%;
  }

  #adminAccountPageAccountDetailsForm button {
    margin: 0px 0px 0px 5px;
  }

}

@media screen and (max-width:767px) {

  .admin-account-page-left-container {
    width: 100%;
    height: auto;
  }

  .admin-account-page-right-container {
    width: 100%;
    float: left;
  }

  .admin-account-page-pending-approval-page-selector-container {
    padding: 10px 20px 20px 20px;
  }

  .admin-account-page-manage-users-page-selector-container {
    padding: 10px 20px 20px 20px;
  }

  #adminAccountPageAccountDetailsForm>div {
    width: 100%;
  }

  #adminAccountPageAccountDetailsForm input {
    width: 380px;
  }

  #adminAccountPageAccountDetailsForm select {
    width: 380px;
  }

}

@media screen and (max-width:575px) {

  #adminAccountPageAccountDetailsForm input {
    width: 100%
  }

  #adminAccountPageAccountDetailsForm select {
    width: 100%
  }

  #adminAccountPageAccountDetailsForm button {
    margin: 5px 0px 0px 0px;
  }

}