.order-failed-outer-container {
  /* FIX NAVBAR OVERLAP */
  margin-top: 86px;
  display: flex;
  display: -webkit-flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.order-failed-inner-container {
  text-align: center;
  margin: 80px 0px 80px 0px;
}

.order-failed-inner-container span {
  font-size: 100px;
  margin: 0px 0px 80px 0px;
  text-align: center;
  padding: 0px 0px 0px 10px;
}

.order-failed-inner-container a {
  margin: 70px 0px 0px 0px;
}

/* Media Queries ---------------------------------- */
@media screen and (max-width:1199px) {}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width:575px) {

  .order-failed-inner-container {
    padding: 0px 30px 0px 30px;
  }

}