.individual-product-page-outer-container {
  /* FIX NAVBAR OVERLAP */
  margin-top: 86px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}

#indivitualProductPageBackToSearchResultsForm {
  margin: 0px 0px 20px 0px;
}

.individual-product-page-left-container {
  width: calc(50% - 20px);
  float: left;
  height: 100%;
}

.individual-product-page-left-image-container {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  padding: 20px 15px 20px 15px;
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
}

#individualProductPageProductMainImage {
  display: block;
  max-width: 490px;
  max-height: 490px;
  width: auto;
  height: auto;
}

.individual-product-page-left-text-container {
  margin: 20px 0px 0px 0px;
}

.individual-product-page-right-container {
  width: calc(50% - 20px);
  float: right;
  height: 100%;
}

#individualProductPageAddToFavoritesForm {
  margin: 20px 0px 0px 0px;
}

.error-row {
  /* FIX NAVBAR OVERLAP */
  margin-top: 86px;
}

.error-row ul {
  width: 100%;
}

.individual-product-page-left-text-container p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/* Media Queries ---------------------------------- */
@media screen and (max-width:1199px) {

  #individualProductPageProductMainImage {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
  }

}

@media screen and (max-width:991px) {

  .individual-product-page-left-container {
    width: 100%;
    height: auto;
  }

  #individualProductPageProductMainImage {
    display: block;
    max-width: 650px;
    max-height: 650px;
    width: auto;
    height: auto;
  }

  .individual-product-page-left-text-container {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }

  .individual-product-page-right-container {
    width: 100%;
    float: right;
    height: auto;
  }

}

@media screen and (max-width:767px) {

  #individualProductPageProductMainImage {
    display: block;
    max-width: 470px;
    max-height: 470px;
    width: auto;
    height: auto;
  }

}

@media screen and (max-width:575px) {

  #individualProductPageProductMainImage {
    display: block;
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
  }

}